<<<<<<< HEAD
/* NAVBAR TRANSPARENTE */
.navbar-custom{
    background: transparent;
    transition: 0.4s;
}

/* Só aplicar no desktop */
@media (min-width: 992px){
    .navbar-collapse{
        background:transparent;
        padding:0;
    }
}

.nav-pill{
    display:inline-block;
    padding:6px 14px;
    border-radius:8px;
    backdrop-filter: blur(6px);
    transition:0.3s;
}

.nav-pill:hover{
    background: rgba(91,60,145,0.8);
    transform: translateY(-2px);
}

/* Links da navbar */
.navbar-nav .nav-link{
    color: white !important;
    font-weight: 500;
    letter-spacing: 1px;
}

.logo-navbar{
    height:48px;
    width:auto;
}

.navbar-brand{
    font-weight:bold;
    letter-spacing:1px;
}

/* Navbar fica preta quando rolar a página */
.navbar-scrolled{
    background: rgba(0,0,0,0.9) !important;
    backdrop-filter: blur(6px);
}

/* Animação suave */
.navbar{
    transition: transform 0.15s linear;
}

/* Classe que esconde a navbar ao rolar */
.navbar-hide{
    transform: translateY(-100%);
}

=======
/* NAVBAR TRANSPARENTE */
.navbar-custom{
    background: transparent;
    transition: 0.4s;
}

/* Só aplicar no desktop */
@media (min-width: 992px){
    .navbar-collapse{
        background:transparent;
        padding:0;
    }
}

.nav-pill{
    display:inline-block;
    padding:6px 14px;
    border-radius:8px;
    backdrop-filter: blur(6px);
    transition:0.3s;
}

.nav-pill:hover{
    background: rgba(91,60,145,0.8);
    transform: translateY(-2px);
}

/* Links da navbar */
.navbar-nav .nav-link{
    color: white !important;
    font-weight: 500;
    letter-spacing: 1px;
}

.logo-navbar{
    height:48px;
    width:auto;
}

.navbar-brand{
    font-weight:bold;
    letter-spacing:1px;
}

/* Navbar fica preta quando rolar a página */
.navbar-scrolled{
    background: rgba(0,0,0,0.9) !important;
    backdrop-filter: blur(6px);
}

/* Animação suave */
.navbar{
    transition: transform 0.15s linear;
}

/* Classe que esconde a navbar ao rolar */
.navbar-hide{
    transform: translateY(-100%);
}

>>>>>>> 357ceaa325e01950473259d66efa448233079110
