<<<<<<< HEAD
body{
    margin:0;
    min-height:100vh;
    background-image: url("fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero{
    height:100vh;
}

.titulo{
    font-family: 'Cinzel', serif;
    font-weight:800;
    font-size:4rem;
}

.azathan{
    font-family: 'MedievalSharp', cursive;
    font-size:5rem;
    color:#4b3d8f;
}

.subtitulo{
    font-size:2rem;
}

.roxo{ color:#5b3c91; font-family:'MedievalSharp'; }
.preto{ color:#000; font-family:'Cinzel'; }

/* BOTÃO MÁGICO */
.btn-magic{
    background:#5b3c91;
    color:white;
    border:none;
    padding:12px 25px;
    font-size:18px;
}
.btn-magic:hover{
    background:#3f2a6e;
}
=======
body{
    margin:0;
    min-height:100vh;
    background-image: url("fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero{
    height:100vh;
}

.titulo{
    font-family: 'Cinzel', serif;
    font-weight:800;
    font-size:4rem;
}

.azathan{
    font-family: 'MedievalSharp', cursive;
    font-size:5rem;
    color:#4b3d8f;
}

.subtitulo{
    font-size:2rem;
}

.roxo{ color:#5b3c91; font-family:'MedievalSharp'; }
.preto{ color:#000; font-family:'Cinzel'; }

/* BOTÃO MÁGICO */
.btn-magic{
    background:#5b3c91;
    color:white;
    border:none;
    padding:12px 25px;
    font-size:18px;
}
.btn-magic:hover{
    background:#3f2a6e;
}
>>>>>>> 357ceaa325e01950473259d66efa448233079110
